<!DOCTYPE html>
<html>
<head>
	 <!-- <link rel="stylesheet" href="index.css">  -->
    <title>Home</title>
</head>
<body>
	<h1 align="middle"> EXPERIMENT </h1> <br>
	<h2>Instructions: </h2><br>
	1) 10 sessions of training and testing <br>
	2) In each session you will learn 10 novel image labels <br>
	3) You will betested to retrieve an image given the label, and vice-versa <br>

	<h2> Please fill in your personal details before we proceed to the experiment: </h2>
	<form action="/info" method="post">
		Full name: <br>
		<input type=text name=name required>
		Gender: <br>
		<input type=radio name=gender value=M> Male <br>
		<input type=radio name=gender value=F checked> Female <br>
		E-mail:<br>
		<input type=email name=email required><br>
		<input type=submit value="Submit and Proceed">
	</form>
	

</body>
</html>